<div class="container">
    <div class="row align-items-center justify-content-center">
        <!-- En caso de que start y python no tengan valores asignados -->
        <div class="col-12 col-lg-5 text-center mt-4" *ngIf="_firebase.start == null && _firebase.python == null">
            <div class="alert alert-info" role="alert">
                Espere un momento, estamos validando que no existan ejecuciones en el módulo.
            </div>
        </div>

        <!-- En caso de que python aun se esta ejecutando pero ya se finalizo desde web -->
        <div class="col-12 col-lg-5 text-center mt-4" *ngIf="_firebase.start != null && !_firebase.start && _firebase.python">
            <div class="alert alert-warning" role="alert">
                Espere un momento, se esta cerrando la ejecucion de la sesion en el módulo.
            </div>
        </div>

        <!-- En caso de que ambas condiciones sean distitas a null y se pueda iniciar una nueva medición -->
        <div class="col-12 col-lg-5 text-center" *ngIf="_firebase.start != null && !_firebase.start && !_firebase.python">
            <h2 class="mb-1 mt-4">Iniciar nueva sesion de medición</h2>
            <!-- si los datos del usuario autentificado estan listos se puede iniciar una nueva medición. -->
            <a *ngIf="ready" [routerLink]="['/new']"><button class="btn btn-success btn-lg">Comenzar</button></a>
            <button *ngIf="!ready" type="button" class="btn btn-outline-success" disabled>Espere un momento...</button>
        </div>

        <!-- En caso de que ambas condiciones sean true y se visualice la medición -->
        <div class="col-12 col-lg-5 text-center" *ngIf="_firebase.start != null && _firebase.start && _firebase.python">
            <h2 class="mb-1 mt-4">Ver la session actual</h2>
            <a [routerLink]="['/live']"><button class="btn btn-success btn-lg">Ver</button></a>
        </div>

        <!-- Ver el historial de mediciones realizadas -->
        <div class="col-12 col-lg-7 text-center" style="max-height: 550px; overflow: scroll;">
            <app-sessions></app-sessions>
        </div>
    </div>
</div>