<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-none d-md-block" [routerLink]="['home']">Laboratorio Multi-propósito de Materiales</a>
    <a class="navbar-brand d-block d-md-none" [routerLink]="['home']">Laboratorio Materiales</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['init']" *ngIf="_auth0.isAuthenticated()">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['sessions']" *ngIf="_auth0.isAuthenticated()">Historial de mediciones</a>
            </li>
        </ul>
        <button class="btn btn-outline-success btn-margin btn-lg mx-2 my-2" *ngIf="!_auth0.isAuthenticated()" (click)="_auth0.login()">
            Ingresar
        </button>

        <button class="btn btn-danger btn-margin btn-lg mx-2 my-2" *ngIf="_auth0.isAuthenticated()" (click)="_auth0.logout()">
            Salir
        </button>
    </div>
</nav>