<!-- Barra de estadp -->
<div *ngIf="_firebase.show">
    <section class="bg-info">
        <div class="row justify-content-around align-items-center text-white text-center">
            <div class="col-3">
                <p class="mb-0 mt-1">Responsable: <strong>{{_firebase.responsable}}</strong></p>
            </div>
            <div class="col-4">
                <p class="mb-0 mt-1">Material: <strong>{{_firebase.material}}</strong></p>
            </div>
            <div class="col-2">
                <p class="mb-0 mt-1">Estado: <strong>{{_firebase.status}}</strong></p>
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
</div>
<!-- Mensaje en caso que no hayan sesiones midiendo en el modulo -->
<div *ngIf="_firebase.show == false">
    <section *ngIf="!show">
        <div class="row align-items-center justify-content-center mt-5 py-5 bg-dark">
            <div class="col-5">
                <img src="assets/qr.png" class="rounded" alt="Codigo QR Portal Construccion">
            </div>
            <div class="col-5 text-center text-white">
                <h3>Módulo disponible para realizar mediciones</h3>
                <p>Ingrese por medio de una computadora, tablet o celular.</p>
                <p class="text-warning"><strong>https://construccion-30739.firebaseapp.com</strong></p>
            </div>
        </div>
    </section>
</div>
<!-- Mensaje en caso que aun no se cargan los datos de firebase -->
<div *ngIf="_firebase.show == null">
    <section *ngIf="!show">
        <div class="row align-items-center justify-content-center">
            <div class="col-10 text-center">
                <h1>Obteniendo datos... por favor espere</h1>
            </div>
        </div>
    </section>
</div>