<!-- Barra de estadp -->
<section class="bg-secondary">
    <div class="row justify-content-around align-items-center">
        <div class="col-4 text-center">
            <p>Nombre responsable</p>
        </div>
        <div class="col-4 text-center">
            <p>Material</p>
        </div>
        <div class="col-4 text-center">
            <p>Estado </p>
        </div>
    </div>
</section>

<!-- Graficos  -->
<section>
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            Mostrar grafica
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <a href="home" class="btn btn-danger btn-block" role="button" aria-pressed="true">Volver a inicio</a>
        </div>
    </div>
</section>