<!-- Graficos  -->
<section class="pt-3" *ngIf="dataReady">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <div echarts [options]="chartOption" class="demo-chart" style="max-height: 350px;"></div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <a href="home" class="btn btn-dark btn-block" role="button" aria-pressed="true">Volver a inicio</a>
        </div>
    </div>
</section>