<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="col-2">
        <img src="/assets/LOGO_PROTEINLAB.svg" alt="LOGO_PROTEINLAB" class="img-fluid">
    </div>
    <div class="col-8 text-center">
        <p class="text-muted"><small>Proyecto desarrollado por Proteinlab - UTEM junto a Construcción para apoyar la ciencia y la investigación dentro de la Universidad Tecnológica Metropolitana (UTEM).</small></p>
    </div>
    <div class="col-2">
        <img src="/assets/logo_construccion.png" alt="logo_construccion" class="img-fluid">
    </div>
</nav>