<div class="row justify-content-center">
    <div class="col-10 col-md-5 py-3">
        <h1>Laboratorio Multi-propósito de Materiales</h1><br>
        <p>Proyecto desarrollado por Proteinlab - UTEM junto a la Facultad de Ciencias de la Construcción y Ordenamiento Territorial (FCCOT) de la Universidad Tecnológica Metropolitana (UTEM) para apoyar la ciencia y la investigación.</p>
        <p>Este Laboratorio permite la experimentación con nuevos materiales a utilizar en obras de construcción.</p>
    </div>
    <div class="col-10 col-md-5 py-3">
        <img src="assets/1.jpg" alt="Módulo Construcción" style="max-width: 100%;">
    </div>
</div>