<div>
    <div class="row justify-content-center">
        <div class="col-10 text-center my-4">
            <h3>Ingrese los parametros para esta medición.</h3>
        </div>
    </div>
    <div class="row justify-content-center align-item-center">
        <form [formGroup]="formulario" (ngSubmit)="guardarCambios()" novalidate="novalidate">
            <div class="form-group row justify-content-center align-item-center my-4">
                <label class="col-3 col-form-label">Responsable</label>
                <div class="col-7">
                    <input class="form-control" type="text" placeholder="Nombre" formControlName="responsable" readonly>
                    <small class="form-text text-muted">
                        El responsable es obtenido desde su cuenta y no es modificable.
                    </small>
                </div>
            </div>

            <div class="form-group row justify-content-center align-item-center my-4">
                <label class="col-3 col-form-label">Material</label>
                <div class="col-7">
                    <input class="form-control" type="text" placeholder="Material a observar" formControlName="material">
                </div>
            </div>

            <div class="form-group row justify-content-center align-item-center my-4">
                <label class="col-3 col-form-label">Intervalo de medición</label>
                <div class="col-7">
                    <input class="form-control" type="number" min="10" formControlName="intervalTime">
                    <small class="form-text text-muted">
                        Ingrese el intervalo en segundos entre cada medición (minimo 10 segundos).
                    </small>
                </div>
            </div>

            <div class="form-group row justify-content-center align-item-center my-4">
                <label class="col-3 col-form-label">Tipo de finalizado</label>
                <div class="col-7">
                    <select class="custom-select" formControlName="finishedType">
                        <option selected value="manual">Manual</option>
                        <option value="programado">Programado</option>
                    </select>
                </div>
            </div>

            <div class="form-group row justify-content-center align-item-center my-4" *ngIf="formulario.controls['finishedType'].value == 'programado'">
                <label class="col-3 col-form-label">Fecha y hora de finalizado</label>
                <div class="col-7">
                    <input type="datetime-local" formControlName="endTime" min="{{now}}">
                    <small class="form-text text-muted text-center">
                        Ingresar la fecha y hora de termino para la medición.
                    </small>
                </div>
            </div>

            <div class="form-group my-4">
                <div class="input-group">
                    <button *ngIf="formulario.valid" type="submit" class="btn btn-success mx-auto"> Comenzar prueba </button>
                    <button *ngIf="!formulario.valid" type="submit" class="btn btn-outline-danger mx-auto" disabled> Completar todo el formulario </button>
                </div>
            </div>
        </form>
    </div>
</div>