<div>
    <div class="row justify-content-center">
        <div class="col-10 text-center my-4">
            <h3>Ingrese los parametros para esta medición.</h3>
        </div>
    </div>
    <div class="row justify-content-center align-item-center">
        <form [formGroup]="formulario" (ngSubmit)="sendForm()" novalidate="novalidate">
            <!-- Usuario -->
            <div class="form-group row justify-content-center align-item-center my-4">
                <label class="col-3 col-form-label">Responsable</label>
                <div class="col-7">
                    <input class="form-control" type="text" placeholder="Nombre" formControlName="responsable" readonly>
                    <small class="form-text text-muted">
                        El responsable es obtenido desde su cuenta y no es modificable.
                    </small>
                </div>
            </div>
            <!-- Material -->
            <div class="form-group row justify-content-center align-item-center my-4">
                <label class="col-3 col-form-label">Material</label>
                <div class="col-7">
                    <input class="form-control" type="text" placeholder="Material a observar" formControlName="material">
                </div>
            </div>
            <!-- Intervalo -->
            <div class="form-group row justify-content-center align-item-center my-4">
                <label class="col-3 col-form-label">Intervalo de medición en segundos</label>
                <div class="col-7">
                    <input class="form-control" type="number" min="30" formControlName="intervalTime">
                    <small class="form-text text-muted">
                        Ingrese el intervalo en segundos entre cada medición (minimo 30 segundos).
                    </small>
                </div>
            </div>
            <!-- Tipo finalizado -->
            <div class="form-group row justify-content-center align-item-center my-4">
                <label class="col-3 col-form-label">Tipo de finalizado</label>
                <div class="col-7">
                    <select class="custom-select" formControlName="finishedType">
                        <option selected value="manual">Manual</option>
                        <option value="programado">Programado</option>
                    </select>
                </div>
            </div>
            <!-- Si finalizado es programado -->
            <div class="form-group row justify-content-center align-item-center my-4" *ngIf="formulario.controls['finishedType'].value == 'programado'">
                <label class="col-3 col-form-label">Fecha y hora de finalizado</label>
                <div class="col-4">
                    <input type="date" formControlName="finishedDate" min="{{ nowDate }}">
                    <small class="form-text text-muted text-center">
                        Ingresar la fecha de termino para la medición.
                    </small>
                </div>
                <!-- Fecha finalizado -->
                <div class="col-3" *ngIf="formulario.value.finishedDate == nowDate">
                    <input type="time" formControlName="finishedTime" min="{{ nowTime }}" max="23:59:00">
                    <small class="form-text text-muted text-center">
                        Ingresar la hora de termino para la medición.
                    </small>
                </div>
                <!-- Hora finalizado -->
                <div class="col-3" *ngIf="formulario.value.finishedDate != nowDate">
                    <input type="time" formControlName="finishedTime">
                    <small class="form-text text-muted text-center">
                        Ingresar la hora de termino para la medición.
                    </small>
                </div>
            </div>
            <!-- Enviar -->
            <div class="form-group my-4">
                <div class="input-group">
                    <button *ngIf="formulario.valid" type="submit" class="btn btn-success mx-auto"> Comenzar prueba </button>
                    <button *ngIf="!formulario.valid" type="submit" class="btn btn-outline-danger mx-auto" disabled> Completar todo el formulario </button>
                </div>
            </div>
        </form>
    </div>
</div>