<!-- Titulo -->
<div class="row">
    <div class="col-12 text-center">
        <h1>Medición actual</h1>
    </div>
</div>

<!-- Boton para detener ejecucion -->
<div class="row justify-content-center my-3">
    <div class="col-11 col-md-4">
        <button type="button" class="btn btn-block btn-lg btn-info disabled" *ngIf="profile == '' ">Obteniendo información usuario.</button>
        <button type="button" class="btn btn-block btn-lg btn-danger" data-toggle="modal" data-target="#confirmationStopModal" *ngIf="profile != '' ">Detener</button>
    </div>
</div>

<!-- Alerta en caso de que los datos aun no se hayan obtenidos -->
<div class="row justify-content-center" *ngIf="_firebase.infoLargeCurrent == null">
    <div class="col-10 col-md-6">
        <div class="alert alert-warning" role="alert">
            Esperando a obtener datos de la medición.
        </div>
    </div>
</div>


<div *ngIf="_firebase.dataSessionCurrentReady && _firebase.infoLargeCurrent != null">
    <!-- Gauge para sesion de ambos modulos -->
    <div class="row justify-content-around" *ngIf="_firebase.infoLargeCurrent.module == 2">
        <!-- Gauge para modulo termico -->
        <div class="col-10 col-md-5 py-3">
            <!-- Gauge realtime con datos actualizados en tiempo real -->
            <div class="card text-center">
                <div class="card-header">
                    Módulo térmico
                </div>
                <div class="card-body">
                    <!-- Gauge con datos en tiempo real -->
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Temperatura Interior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.thermal.Ti" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Temperatura Exterior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.thermal.Te" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Humedad Interior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.thermal.Hi" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Humedad Exterior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.thermal.He" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                    </div>
                </div>
                <!-- Hora y fecha del dato obtenido -->
                <div class="card-footer text-muted">
                    Dato obtenido: {{ _firebase.current.thermal.timestamp * 1000 | date:'HH:mm:ss - dd/MM/yyyy' }}
                </div>
            </div>
        </div>

        <!-- Gauge para modulo acustico -->
        <div class="col-10 col-md-5 py-3">
            <!-- Gauge realtime con datos actualizados en tiempo real -->
            <div class="card text-center">
                <div class="card-header">
                    Módulo acústico
                </div>
                <div class="card-body">
                    <!-- Gauge con datos en tiempo real -->
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Temperatura Interior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.sound.Ti" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Temperatura Exterior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.sound.Te" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Humedad Interior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.sound.Hi" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Humedad Exterior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.sound.He" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                    </div>
                </div>
                <!-- Hora y fecha del dato obtenido -->
                <div class="card-footer text-muted">
                    Dato obtenido: {{ _firebase.current.sound.timestamp * 1000 | date:'HH:mm:ss - dd/MM/yyyy' }}
                </div>
            </div>
        </div>
    </div>

    <!-- Gauge para sesion de un solo modulo -->
    <div class="row justify-content-around" *ngIf="_firebase.infoLargeCurrent.module != 2">
        <!-- Gauge para modulo termico -->
        <div class="col-10 col-md-8 py-3" *ngIf="_firebase.infoLargeCurrent.module == 0">
            <!-- Gauge realtime con datos actualizados en tiempo real -->
            <div class="card text-center">
                <div class="card-header">
                    Módulo térmico
                </div>
                <div class="card-body">
                    <!-- Gauge con datos en tiempo real -->
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Temperatura Interior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.thermal.Ti" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Temperatura Exterior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.thermal.Te" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Humedad Interior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.thermal.Hi" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Humedad Exterior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.thermal.He" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                    </div>
                </div>
                <!-- Hora y fecha del dato obtenido -->
                <div class="card-footer text-muted">
                    Dato obtenido: {{ _firebase.current.thermal.timestamp * 1000 | date:'HH:mm:ss - dd/MM/yyyy' }}
                </div>
            </div>
        </div>

        <!-- Gauge para modulo acustico -->
        <div class="col-10 col-md-8 py-3" *ngIf="_firebase.infoLargeCurrent.module == 1">
            <!-- Gauge realtime con datos actualizados en tiempo real -->
            <div class="card text-center">
                <div class="card-header">
                    Módulo acústico
                </div>
                <div class="card-body">
                    <!-- Gauge con datos en tiempo real -->
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Temperatura Interior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.sound.Ti" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Temperatura Exterior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.sound.Te" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Humedad Interior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.sound.Hi" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <p><small>Humedad Exterior</small></p>
                            <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.sound.He" [animated]="true" [animationDuration]="2">
                            </mwl-gauge>
                        </div>
                    </div>
                </div>
                <!-- Hora y fecha del dato obtenido -->
                <div class="card-footer text-muted">
                    Dato obtenido: {{ _firebase.current.sound.timestamp * 1000 | date:'HH:mm:ss - dd/MM/yyyy' }}
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla con datos historicos de la medicion actual ambos modulos -->
    <div class="row justify-content-around my-3" *ngIf="_firebase.infoLargeCurrent.module == 2">
        <!-- Modulo termico -->
        <div class="col-10 col-md-5 text-center" *ngIf="_firebase.dataCurrentThermal.length > 0">
            <p class="h3 text-center py-3"> Módulo Térmico</p>
            <div class="table-responsive text-center">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Temperatura Interior (°C)</th>
                            <th scope="col">Humedad Interior (%hr)</th>
                            <th scope="col">Temperatura Exterior (°C)</th>
                            <th scope="col">Humedad Exterior (%hr)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of _firebase.dataCurrentThermal">
                            <td>{{ data.timestamp * 1000 | date:'dd/MM - HH:mm:ss' }}</td>
                            <td>{{ data.Ti }}</td>
                            <td>{{ data.Hi }}</td>
                            <td>{{ data.Te }}</td>
                            <td>{{ data.He }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modulo Acustico -->
        <div class="col-10 col-md-5 text-center" *ngIf="_firebase.dataCurrentSound.length > 0">
            <p class="h3 text-center py-3"> Módulo Acústico</p>
            <div class="table-responsive text-center">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Temperatura Interior (°C)</th>
                            <th scope="col">Humedad Interior (%hr)</th>
                            <th scope="col">Temperatura Exterior (°C)</th>
                            <th scope="col">Humedad Exterior (%hr)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of _firebase.dataCurrentSound">
                            <td>{{ data.timestamp * 1000 | date:'dd/MM - HH:mm:ss' }}</td>
                            <td>{{ data.Ti }}</td>
                            <td>{{ data.Hi }}</td>
                            <td>{{ data.Te }}</td>
                            <td>{{ data.He }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Tabla con datos historicos de la medicion actual, modulo separado -->
    <div class="row justify-content-around my-3" *ngIf="_firebase.infoLargeCurrent.module != 2">
        <!-- Modulo termico -->
        <div class="col-8" *ngIf="_firebase.infoLargeCurrent.module == 0 && _firebase.dataCurrentThermal.length > 0">
            <p class="h3 text-center py-3"> Módulo Térmico</p>
            <div class="table-responsive text-center">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Temperatura Interior (°C)</th>
                            <th scope="col">Humedad Interior (%hr)</th>
                            <th scope="col">Temperatura Exterior (°C)</th>
                            <th scope="col">Humedad Exterior (%hr)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of _firebase.dataCurrentThermal">
                            <td>{{ data.timestamp * 1000 | date:'dd/MM - HH:mm:ss' }}</td>
                            <td>{{ data.Ti }}</td>
                            <td>{{ data.Hi }}</td>
                            <td>{{ data.Te }}</td>
                            <td>{{ data.He }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modulo Acustico -->
        <div class="col-8" *ngIf="_firebase.infoLargeCurrent.module == 1 && _firebase.dataCurrentSound.length > 0">
            <p class="h3 text-center py-3"> Módulo Acústico</p>
            <div class="table-responsive text-center">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Temperatura Interior (°C)</th>
                            <th scope="col">Humedad Interior (%hr)</th>
                            <th scope="col">Temperatura Exterior (°C)</th>
                            <th scope="col">Humedad Exterior (%hr)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of _firebase.dataCurrentSound">
                            <td>{{ data.timestamp * 1000 | date:'dd/MM - HH:mm:ss' }}</td>
                            <td>{{ data.Ti }}</td>
                            <td>{{ data.Hi }}</td>
                            <td>{{ data.Te }}</td>
                            <td>{{ data.He }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal para confirmar la detencion de la medición -->
<div class="modal fade" id="confirmationStopModal" tabindex="-1" role="dialog" aria-labelledby="confirmationStopModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationStopModalLabel">Detener medición</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                ¿Esta seguro de detener la medición?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="stop()">Si</button>
            </div>
        </div>
    </div>
</div>