<div class="row">
    <div class="col-12 text-center">
        <h1>Titulo</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 col-md-2 text-center">
        <p>Temperatura Interior</p>
        <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.Ti" [animated]="true" [animationDuration]="2">
        </mwl-gauge>
    </div>
    <div class="col-6 col-md-2 text-center">
        <p>Temperatura Exterior</p>
        <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.Te" [animated]="true" [animationDuration]="2">
        </mwl-gauge>
    </div>
    <div class="col-6 col-md-2 text-center">
        <p>Humedad Interior</p>
        <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.Hi" [animated]="true" [animationDuration]="2">
        </mwl-gauge>
    </div>
    <div class="col-6 col-md-2 text-center">
        <p>Humedad Exterior</p>
        <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="_firebase.current.He" [animated]="true" [animationDuration]="2">
        </mwl-gauge>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 col-md-4">
        <button class="btn btn-block btn-lg btn-danger" (click)="stop()">Detener</button>
    </div>
</div>