<!-- Mensaje en caso que no hayan sesiones midiendo en el modulo -->
<section *ngIf="!show">
    <div class="row align-items-center justify-content-center">
        <div class="col-10 text-center">
            <h1>Módulo disponible para realizar mediciones, ingrese por medio de una computadora, tablet o celular, para comenzar.</h1>
        </div>
    </div>
</section>


<!-- Mostrar gauges cuando se estan realizando mediciones -->
<section *ngIf="show && _firebase.data.length > 0 ">
    <div class="row align-items-center justify-content-center">
        <!-- Tabla con gauges -->
        <div class="col-10">
            <table class="table">
                <thead class="text-center">
                    <tr>
                    <th scope="col"><a href="graph/sesion/T" class="btn btn-block btn-secondary" role="button" aria-pressed="true">Temperatura Ambiental</a></th>
                    <th scope="col"><a href="graph/sesion/H" class="btn btn-block btn-secondary" role="button" aria-pressed="true">Humedad Ambiental</a></th>
                    <th scope="col"><a href="graph/sesion/TObj" class="btn btn-block btn-secondary" role="button" aria-pressed="true">Temperatura Material</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>
                            <h6 class="text-muted">Interior</h6>
                            <ngx-gauge [type]="gaugeType" 
                                    [value]="_firebase.lastData.Ti" 
                                    [append]="'°C'"
                                    [size]=size>
                            </ngx-gauge>
                        </td>
                        <td>
                            <h6 class="text-muted">Interior</h6>
                            <ngx-gauge [type]="gaugeType" 
                                    [value]="_firebase.lastData.Hi" 
                                    [append]="'%HR'"
                                    [size]=size>
                            </ngx-gauge>
                        </td>
                        <td>
                            <h6 class="text-muted">Interior</h6>
                            <ngx-gauge [type]="gaugeType" 
                                    [value]="_firebase.lastData.TObj" 
                                    [append]="'°C'"
                                    [size]=size>
                            </ngx-gauge>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>
                            <h6 class="text-muted">Exterior</h6>
                            <ngx-gauge [type]="gaugeType" 
                                    [value]="_firebase.lastData.Te" 
                                    [append]="'°C'"
                                    [size]=size>
                            </ngx-gauge>
                        </td>
                        <td>
                            <h6 class="text-muted">Exterior</h6>
                            <ngx-gauge [type]="gaugeType" 
                                    [value]="_firebase.lastData.He" 
                                    [append]="'%HR'"
                                    [size]=size>
                            </ngx-gauge>
                        </td>
                        <td>
                            <h6 class="text-muted">Exterior</h6>
                            <ngx-gauge [type]="gaugeType" 
                                    [value]="_firebase.lastData.TObj" 
                                    [append]="'°C'"
                                    [size]=size>
                            </ngx-gauge>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>